<!-- Nav bar-->
<nav id="my-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">V-Gifts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right d-flex" id="navbarNavDropdown">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">For Him</a></li>
                        <li><a class="dropdown-item" href="#">For Her</a></li>
                        <li><a class="dropdown-item" href="#">For Babbies</a></li>
                        <li><a class="dropdown-item" href="#">For Pets</a></li>
                        <li><a class="dropdown-item" href="#">Customize</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons navbar-right">
                <li class="nav-item">
                    <a class="nav-link">
                        <button type="button" class="btn btn-light"><i class="bi bi-cart"></i>Cart</button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="btn btn-primary"><i class="bi bi-person-fill"></i>My Account</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
